.m-game-safe-opened__container {
  border: 1px solid red;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 375px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  background-repeat: no-repeat;
}

.m-game-safe-opened__container::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 2;
  pointer-events: none;
  background-image: url("/images/GameSafe/first_prize_95PER.webp");
  background-repeat: no-repeat;
}

.m-game-safe-opened__container--common {
  background-image: url("/images/GameSafe/common_opened_95PER.webp");
  background-position: left -70px center;
  background-size: auto 500px;
}

.m-game-safe-opened__container--common::after {
  background-position: 102px 130px;
  background-size: auto 110px;
}

.m-game-safe-opened__container--rare {
  background-image: url("/images/GameSafe/rare_opened_95PER.webp");
  background-position: left -55px bottom -50px;
  background-size: auto 490px;
}

.m-game-safe-opened__container--rare::after {
  background-position: 102px 130px;
  background-size: auto 110px;
}

.m-game-safe-opened__container--epic {
  background-image: url("/images/GameSafe/epic_opened_95PER.webp");
  background-position: left -55px bottom -50px;
  background-size: auto 490px;
}

.m-game-safe-opened__container--epic::after {
  background-position: 102px 130px;
  background-size: auto 110px;
}

@media (max-width: 360px) {
  .m-game-safe-opened__container {
    height: 360px;
  }
}
